extends layout

block content
    include ./mixins/enemyCard
    div.container-card
        div.content

            div.enemy
                each enemy in stage.enemy
                    +enemyCard(enemy)