doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.container
        ul.nav.main-nav
          li.nav-item
            a.nav-link(href="/") Home
          if user
            li.nav-item
              a.nav-link(href="/deck") Decks
            li.nav-item
              a.nav-link(href="/card") Cards
            li.nav-item2
              a.nav-link(href="#") Hello #{user.user_name}
            li.nav-item2
              a.nav-link(href="/logout") Logout
          else
            li.nav-item
              a.nav-link(href="/login") Login
            li.nav-item
              a.nav-link(href="/createUser") Create a user
    div.container
      block content