body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E2E8F0;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  display: inline-block;
  margin-right: 24px;
  text-decoration: none;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  box-shadow: 0 1px 3px 0 rgba(0 0 0  0.1), 0 1px 2px -1px rgba(0 0 0 0.1);
  background: white;
  padding: 50px;
  border-radius: 12px;
}

/*form styling*/

.button-row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #D4D4D8;
}

.button {
  padding: 8px 16px;
  border: 1px solid #A1A1AA;
  color: #52525B;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0 0 0  0.05);
}

.button.primary {
  background: #065F46;
  color: white;
  border-color: #065F46;
}

label {
  display: block;
  color: #3F3F46;
  font-weight: bold;
  margin-bottom: 4px;
}

input, textarea {
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
}


select {
  padding: 8px;
  background: white;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.form-button-row {
  padding-top: 16px;
  margin-top: 16px;

  border-top: 1px solid #D4D4D8;
}

.form-header {
  font-size: 16px;
  color: #52525B;
  margin-bottom: 16px;
}

.input-form-row {
  display: flex;
  align-items: flex-start;
}

.input-container {
  margin-bottom: 16px;
}

.input-container.wide input {
  width: 325px;
}
.input-container.super-wide input {
  max-width: 800px;
  width: 100%;
}

.input-form-row .input-container {
  margin-right: 16px;
}

nav {
  box-shadow: 0 1px 3px 0 rgba(0 0 0  0.1), 0 1px 2px -1px rgba(0 0 0  0.1);
  margin-bottom: 50px;
  background: #a69898;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav li {
  padding: 10px 10px;
}

nav {
  padding: 0 32px;
}

.nav-item {
  border:4px solid #720d0d;
  background: #f63225;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
}

.nav-item2 {
  border:4px solid #720d0d;
  background: #f63225;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
}

.card-list{
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  border:8px solid #720d0d;
  border-radius: 12px;
  width: 200px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  font-size: 15px;
  background-color: #da922b;
  font-weight: bold;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.line {
  background-color: #720d0d;
  margin-top: 10px;
  width: 200px;
  height:4px;
}
.clash-info {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.dice-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
}

.dices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
}

.description {
  font-size: 16px;
  font-weight: bold;
}

.container-card {
  max-width: 1450px;
}

.container-card2 {
  max-width: 325px;
}

.card2 {
  border:8px solid #bd4040;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  font-size: 15px;
  background-color: #ec7171;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-list {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.card3 {
  border:8px solid #852698;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  font-size: 15px;
  background-color: #bc58d7;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card4 {
  border:8px solid #104913;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  font-size: 15px;
  background-color: #52e122;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card5 {
  border:8px solid #343232;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  font-size: 15px;
  background-color: #9d9898;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-content {
  box-shadow: 0 1px 3px 0 rgba(0 0 0 0.1), 0 1px 2px -1px rgba(0 0 0 0.1);
  background: white;
  padding: 50px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: #065F46;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.container-menu {
  max-width: 1450px;
}

.card6 {
  border:8px solid #560505;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  font-size: 20px;
  background-color: #830a0a;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.stage-list {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 250px;
}

.stages-header-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.cards-header-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.decks-header-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.logincard {
  border:8px solid #343232;
  border-radius: 12px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  font-size: 15px;
  background-color: #9d9898;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  border:8px solid #720d0d;
  border-radius: 12px;
  width: 200px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  font-size: 15px;
  background-color: #da922b;
  font-weight: bold;
}
