extends ../layout

block content
    include ../mixins/cardCard
    div.container-card
        div.content
            div.deck-name=deck.deck_name

            ul.card-list
                each card in deck.cards
                    li
                        +cardCard(card)